# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
dist
dist-ssr
tests
*.local
*.html~
*.css~
*.js~
*.ejs~
*.json~
*.md~
*.png~
*.jpg~
*.gif~
*.jpeg~
*.svg~
*.ico~
*.woff~
.vercel
vercel.json
NOTES.md
TODOS.md

configs
.env.production
*.ps1


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/public/js/*.min.js
/public/css/output.css
/public/css/*.min.css

