<%- layout("main") -%>

<div class="relative flex flex-col justify-center items-center gap-2 py-40 size-full">
    <img class="h-full object-contain p-4 select-none" src="/images/404.svg" alt="404" draggable="false">
    <h1 class="text-3xl font-bold mt-5">Page not found</h1>
    <p class="text-base text-textSecondary">Oops! Looks like the page you're looking for doesn't exist.</p>
    <a class="text-white text-center bg-primary px-4 py-2.5 mt-6 min-w-36 rounded-md cursor-pointer hover:shadow-lg hover:shadow-primary/15 transition-shadow" href="/">Go back</a>
</div>