<% layout("layouts/main-layout") %>

<%# For SEO %>
<% block("head").append(`
<meta name="robots" content="noindex, nofollow">
<link rel="canonical" href="/">
`)%>

<section class="relative flex flex-col px-6 sm:px-9 pt-28 size-full">
    <h1>Hey <%= user.name.split(" ")[0]%></h1>
</section>
