<%- layout("layouts/main-layout") -%>

<%# Hero %>
<section class="relative flex items-center gap-12 px-6 py-40 page-padding">
    <div class="flex flex-[1.2] flex-col items-start justify-center gap-5 h-full w-full">
        <span class="px-5 py-2.5 text-xs sm:text-base text-colorPrimary bg-colorPrimary/5 rounded-full">Let's make with simply one click 👈</span>
        <h1 class="relative text-[50px] md:text-[5.1rem] font-gelica-black font-bold leading-none">
            Shorten urls made easy
        </h1>
        <p class="mt-2 text-base text-textSecondary">
            Shorten, personalize and optimize your links to boost<br>your online presence and grow your business.
        </p>
        <div class="flex items-center gap-2 p-2 mt-3.5 bg-colorSurface rounded-full shadow-toastShadow w-full max-w-[450px] sm:p-2.5">
            <img class="ms-3 me-2 size-[1.1rem] object-contain -rotate-45 select-none" src="/images/link-horizontal.svg" alt="link" draggable="false">
            <input id="input-url" class="w-full text-sm sm:text-base outline-none border-none" type="text" placeholder="Paste a link to shorten it">
            <button id="btn-shorten" class="p-2.5 bg-colorPrimary text-white rounded-full disabled:pointer-events-none">
                <svg aria-label="spinner" role="status" class="hidden size-6 p-0.5 animate-spin" viewBox="0 0 100 101" width="20px" height="20px" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"/>
                </svg>
                <svg aria-label="arrow-right" viewBox="0 0 24 24" width="20px" height="20px" fill="#fff"><path d="M18,12h0a2,2,0,0,0-.59-1.4l-4.29-4.3a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L15,11H5a1,1,0,0,0,0,2H15l-3.29,3.29a1,1,0,0,0,1.41,1.42l4.29-4.3A2,2,0,0,0,18,12Z"/></svg>
            </button>
        </div>
    </div>

    <div class="hidden flex-1 lg:flex items-center justify-center w-full overflow-hidden">
        <img class="w-full h-full object-contain select-none -scale-x-100" src="/images/hero2.svg" alt="hero" draggable="false">
    </div>
</section>

<section class="relative flex flex-col items-center page-padding min-h-screen size-full bg-colorSurface/70">
    <h2 class="mt-28 text-[40px] md:text-[3.5rem] font-gelica-black font-bold leading-none text-start md:text-center">More than a link shortener</h2>
    <p class="mt-4 w-full max-w-[700px] text-base text-textSecondary text-start md:text-center">Effortlessly Track, Analyze, and Optimize Every Connection in One Place.</p>
    <div>

    </div>
</section>
<% block("scripts").append("<script src='/js/home.js'></script>") %>