<%- layout("layouts/auth-layout") -%>

<%# For SEO %>
<% block("head").append(`
<meta name="title" content="Sign Up - Shortnx">
<meta name="description" content="Create your account to easily track and manage all your links at one place.">
<meta name="keywords" content="url shortener, link shortener, custom url, free url, shortnx signup">
<meta name="author" content="Shortnx">
<meta name="robots" content="index, follow">
`)%>

<%# Sign Up %>
<section class="flex flex-col py-20 mx-auto size-full max-w-[450px]">
    <a href="/" class="self-start select-none">
        <img class="h-6 md:h-7 object-contain select-none" draggable="false" src="/images/logo.svg" alt="logo"/>
    </a>
    <h2 class="mt-14 text-2xl sm:text-3xl font-semibold">Create an account!</h2>
    <div class="flex flex-col gap-1 mt-9">
        <label class="text-[0.9rem] font-medium after:content-['*'] after:text-xs after:text-textSecondary" for="name">Name</label>
        <input type="text" name="name" id="name"
               class="relative px-3 py-2.5 text-textPrimary bg-colorSurface border border-slate-300 outline-none rounded-lg placeholder:text-[0.9rem] focus:ring-1 focus:ring-slate-300"
               required/>
    </div>
    <div class="flex flex-col gap-1 mt-3">
        <label class="text-[0.9rem] font-medium after:content-['*'] after:text-xs after:text-textSecondary" for="email">Email address</label>
        <input type="email" name="email" id="email"
               class="px-3 py-2.5 text-textPrimary bg-colorSurface border border-slate-300 outline-none rounded-lg placeholder:text-[0.9rem] focus:ring-1 focus:ring-slate-300"
               required/>
    </div>
    <div class="flex flex-col gap-1 mt-3">
        <label class="text-[0.9rem] font-medium after:content-['*'] after:text-xs after:text-textSecondary" for="password">Password</label>
        <input type="password" name="password" id="password"
               class="px-3 py-2.5 text-textPrimary bg-colorSurface border border-slate-300 outline-none rounded-lg placeholder:text-[0.9rem] focus:ring-1 focus:ring-slate-300"
               required/>
    </div>
    <span class="mt-3.5 text-sm text-textSecondary">
        By signing up, you agree to our <a class="text-textPrimary hover:text-colorPrimary" href="/terms-of-services">terms of services</a> and <a class="text-textPrimary hover:text-colorPrimary" href="/privacy-policy">privacy policy</a>
    </span>
    <%- include('../partials/Button.ejs', {
        btnId: "btnSignUp",
        btnClassnames: "text-base mt-10 w-full",
        btnChildren: "Sign Up"
    }) -%>
    <span class="my-7 label-or"></span>
    <%- include("../partials/Button.ejs", {
        btnType: "link",
        btnHref: "/auth/google",
        btnVariant: "secondary",
        btnClassnames: "flex justify-center items-center gap-2 py-2.5 w-full font-medium bg-colorSurface border-slate-300 rounded-lg hover:border-slate-400",
        btnChildren: '<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="20px" height="20px"><path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/></svg><span class="ms-2 text-textPrimary">Continue with Google</span>'
    }) -%>
    <p class="pt-8 pb-14 w-full text-[0.9rem] text-textPrimary text-center">
        Already have an account?
        <%- include('../partials/Button.ejs', {
            btnType: "link",
            btnHref: "/auth/login",
            btnVariant: "tertiary",
            btnClassnames: "text-[0.9rem] font-medium",
            btnChildren: "Login"
        }) -%>
    </p>
</section>

<% block("scripts").append(`
<script>
    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const password = document.getElementById("password");
    const btnSignUp = document.getElementById("btnSignUp");
    const toast = new Toast();
    const loadingModal = new LoadingModal();

    [name, email, password].forEach(input => input.addEventListener("input", () => {
        if (input.value) {
            InputValidation.toggleErrorState(input);
        }
    }));

    password.addEventListener("keypress", (e) => e.key === "Enter" && btnSignUp.click());

    btnSignUp.addEventListener("click", async () => {

        if (!InputValidation.validateName(name) ||
            !InputValidation.validateEmail(email) ||
            !InputValidation.validatePassword(password)
        ) return;

        const userData = {
            name: name.value,
            email: email.value,
            password: password.value
        };

        try {
            loadingModal.show();
            const response = await fetch("/api/auth/signup", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(userData)
            });

            const result = await response.json();
            if (result.success) {
                window.location.replace("/dashboard");
            } else {
                const message = result.message || "Something went wrong";
                if (message.toLowerCase().includes("email")) {
                    InputValidation.toggleErrorState(email, message);
                } else if (message.toLowerCase().includes("password")) {
                    InputValidation.toggleErrorState(password, message);
                } else {
                    toast.showToast(message, toast.types.error);
                }
            }

        } catch (error) {
            toast.showToast("Something went wrong", toast.types.error || error.message);
        } finally {
            loadingModal.hide();
        }
    });
</script>
`) %>
