@import url("https://cdn.shortnx.in/css/coolicons.css");
@import url("https://cdn.shortnx.in/css/gelica.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply
    m-0 p-0
    box-border;
}

html, body {
    @apply
    flex flex-col
    w-full h-full
    font-poppins
    text-textPrimary
    bg-colorBackground;
}

::-webkit-scrollbar {
    @apply
    w-2.5;
}
::-webkit-scrollbar-track {
    @apply
    bg-colorSurface;
}
::-webkit-scrollbar-thumb {
    @apply
    bg-textSecondary/20
    rounded-full
    hover:bg-textSecondary/40;
}

.page-padding {
    @apply
    px-6
    sm:px-10 md:px-20
    lg:px-36;
}

.page-grid-2_1 {
    @apply
    grid grid-cols-1
    md:grid-cols-2
    gap-12
    place-items-center
    px-6 sm:px-10 md:px-20 lg:px-36
    size-full;
}

.bg-gradient-blur {
    @apply
    before:absolute
    before:right-0 before:bottom-6 before:-z-[1]
    before:size-full
    before:bg-[url('/images/blur.webp')]
    before:bg-no-repeat before:bg-right-bottom before:bg-contain
    before:opacity-[0.06] before:blur-2xl;
}

.bg-gradient-blur-reverse {
    @apply
    before:absolute
    before:left-0 before:top-6 before:-z-[1]
    before:size-full
    before:bg-[url('/images/blur_reverse.webp')]
    before:bg-no-repeat before:bg-left-top before:bg-contain
    before:opacity-[0.06] before:blur-2xl;
}

.modal-backdrop {
    @apply
    fixed z-50 top-0 left-0
    justify-center items-center
    px-6 w-screen h-screen
    bg-black/60;
}

.toast-info {
    @apply
    text-textPrimary
    bg-colorBackground ;
}
.toast-error {
    @apply
    text-white
    bg-red-500;
}
.toast-success {
    @apply
    text-white
    bg-green-600;
}

.label-or {
    @apply
    relative
    before:absolute
    before:top-1/2 before:left-1/2 before:-translate-x-1/2
    before:h-[1px] before:w-20
    before:bg-slate-300
    after:content-['or'] after:absolute
    after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2
    after:px-2 after:text-textSecondary
    after:bg-colorSurface;
}

.tab-default {
    @apply
    relative
    flex items-center
    gap-2.5
    py-3.5 px-3.5;
}

.tab-inactive {
    @apply
    text-textSecondary
    hover:bg-colorSurfaceSecondary
    hover:rounded-lg;
}

.tab-active {
    @apply
    text-colorPrimary
    bg-colorSurfaceSecondary
    rounded-lg;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gsap-fade-in-up {
    @apply opacity-0 translate-y-5;
}

.gsap-fade-in-left {
    @apply opacity-0 -translate-x-5;
}

.gsap-fade-in-right {
    @apply opacity-0 translate-x-5;
}

.gsap-fade-in-down {
    @apply opacity-0 -translate-y-5;
}

