@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gelica Black';
    src: url('/fonts/gelica-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    @apply
    m-0 p-0
    box-border;
}

html, body {
    @apply
    flex flex-col
    w-full h-full
    font-space-grotesk
    text-textPrimary
    bg-colorBackground;
}

::-webkit-scrollbar {
    @apply
    w-2.5;
}
::-webkit-scrollbar-track {
    @apply
    bg-colorSurface;
}
::-webkit-scrollbar-thumb {
    @apply
    bg-textSecondary/40
    rounded-full
    hover:bg-textSecondary/50;
}

.page-padding {
    @apply
    px-6
    sm:px-10 md:px-20
    lg:px-36;
}

.gradient-blur-bg {
    @apply
    before:absolute
    before:left-0 before:top-0 before:-z-[1]
    before:size-full
    before:bg-gradientBlur
    before:bg-no-repeat before:bg-center before:bg-cover
    before:opacity-30 before:blur-2xl;
}

.modal-backdrop {
    @apply
    fixed z-50 top-0 left-0
    justify-center items-center
    px-6 w-screen h-screen
    bg-black/60;
}

.toast-info {
    @apply
    text-textPrimary
    bg-colorBackground ;
}
.toast-error {
    @apply
    text-white
    bg-red-500;
}
.toast-success {
    @apply
    text-white
    bg-green-600;
}

.label-or {
    @apply
    relative
    before:absolute
    before:top-1/2 before:left-1/2 before:-translate-x-1/2
    before:h-[1px] before:w-20
    before:bg-colorBorder
    after:content-['or'] after:absolute
    after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2
    after:px-2 after:text-textSecondary
    after:bg-colorSurface;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

