@import url("https://cdn.shortnx.in/css/coolicons.css");
@import url("https://cdn.shortnx.in/css/gelica.css");
@import url("https://cdn.shortnx.in/css/poppins.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --loader-color: #fff;
    --loader-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: #2f2e41;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

::-webkit-scrollbar {
    @apply
    w-2.5;
}
::-webkit-scrollbar-track {
    @apply
    bg-colorSurface;
}
::-webkit-scrollbar-thumb {
    @apply
    bg-textSecondary/20
    rounded-full
    hover:bg-textSecondary/40;
}

.page-padding {
    @apply
    px-6
    sm:px-10 md:px-20
    lg:px-36;
}

.page-grid-2_1 {
    @apply
    grid grid-cols-1
    md:grid-cols-2
    gap-12
    place-items-center
    px-6 sm:px-10 md:px-20 lg:px-36
    size-full;
}

.bg-gradient-blur {
    @apply
    before:absolute
    before:right-0 before:bottom-6 before:-z-[1]
    before:size-full
    before:bg-[url('/images/blur.webp')]
    before:bg-no-repeat before:bg-right-bottom before:bg-contain
    before:opacity-10 before:blur-2xl;
}

.modal-backdrop {
    @apply
    fixed z-50 inset-0
    w-screen h-screen
    backdrop-blur-md
    bg-black bg-opacity-50;
}

.sidebar {
    @apply
    relative z-[1]
    flex flex-col
    px-3 sm:px-4
    h-full min-w-[15rem]
    bg-[#f5f5f5]
    transition-transform duration-200 ease-in-out
    overflow-hidden
    before:absolute
    before:bottom-20 before:left-0 before:-z-[1]
    before:size-full
    before:bg-[url('/images/grad_1.png')]
    before:bg-no-repeat before:bg-bottom before:bg-contain
    before:blur-2xl before:opacity-15
    before:scale-150;
}

.label-or {
    @apply
    relative
    before:absolute
    before:top-1/2 before:left-1/2 before:-translate-x-1/2
    before:h-[1px] before:w-20
    before:bg-slate-300
    after:content-['or'] after:absolute
    after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2
    after:px-2 after:text-textSecondary
    after:bg-colorSurface;
}

.tab-default {
    @apply
    relative
    flex items-center
    gap-2.5
    py-3 px-3.5
    rounded-lg;
}

.tab-inactive {
    @apply
    text-textSecondary
    hover:bg-[#ededed];
}

.tab-active {
    @apply
    text-colorPrimary
    bg-colorPrimary/5;
}

.input-default {
    @apply
    px-3 py-2.5
    text-textPrimary bg-colorSurface
    border border-slate-300 outline-none
    rounded-lg
    placeholder:text-[0.9rem]
    focus:ring-1 focus:ring-slate-300;
}

/* Source: https://cssloaders.github.io/ */
.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--loader-color);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Source: https://cssloaders.com */
.dot-loader {
    width: var(--loader-size);
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, var(--loader-color) 90%, #0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

/* Source: https://uiverse.io/david-mohseni/yellow-cat-24 */
.circular-fade-spinner {
    position: relative;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 10px;
}

.circular-fade-spinner div {
    width: 8%;
    height: 24%;
    background: var(--loader-color);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
}

@keyframes fade458 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

.circular-fade-spinner .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
}

.circular-fade-spinner .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
}

.circular-fade-spinner .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
}

.circular-fade-spinner .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
}

.circular-fade-spinner .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
}

.circular-fade-spinner .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
}

.circular-fade-spinner .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
}

.circular-fade-spinner .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
}

.circular-fade-spinner .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
}

.circular-fade-spinner .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
}

.circular-fade-spinner .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
}

.circular-fade-spinner .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
}


/**/

.cta-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #0a1129;
    --c2: #1e284f;
    --c3: #404f7e;

    background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
    )
    calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
            from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
    opacity: 0.2;
}

@keyframes animloader {
    0%   { height: 38px}
    100% { height: 4px}
}

body [data-hidden="true"] {
    display: none !important;
}

.gsap-fade-in-up {
    @apply opacity-0 translate-y-5;
}

.gsap-fade-in-left {
    @apply opacity-0 -translate-x-5;
}

.gsap-fade-in-right {
    @apply opacity-0 translate-x-5;
}

.gsap-fade-in-down {
    @apply opacity-0 -translate-y-5;
}

