<%- layout("index") -%>

<div class="relative flex flex-col items-center justify-center gap-2 px-6 py-40 text-center size-full">
    <img class="h-full p-4 object-contain select-none" src="/images/404.svg" alt="404" draggable="false">
    <h1 class="mt-5 text-2xl sm:text-3xl font-bold">Page not found</h1>
    <p class="text-base text-textSecondary">Oops! Looks like the page you're looking for doesn't exist.</p>
    <%- include("../components/Button.ejs", {
        btnType: "link",
        btnClassnames: "mt-6 min-w-36 text-base",
        btnChildren: "Go Back",
        btnHref: "/"
    }) -%>
</div>
