<footer class="relative flex flex-col gap-3 page-padding py-10 w-full bg-colorBackground">
    <div class="flex justify-between items-center flex-wrap gap-4 w-full">
        <a class="w-full sm:w-fit" href="/">
            <img class="h-4 select-none mx-auto" draggable="false" src="/images/logo-grayscale.svg" alt="logo">
        </a>
        <div class="flex justify-center items-center flex-wrap gap-x-2 gap-y-1 w-full sm:w-fit text-textSecondary">
            <span class="text-sm">© 2024 UrlShortener</span>
            <span class="select-none">•</span>
            <a class="text-sm underline underline-offset-2 hover:text-colorPrimary" href="#manage-cookies">Manage Cookies</a>
            <span class="select-none">•</span>
            <a class="text-sm underline underline-offset-2 hover:text-colorPrimary" href="/terms-of-services">Terms of Services</a>
            <span class="select-none">•</span>
            <a class="text-sm underline underline-offset-2 hover:text-colorPrimary" href="/privacy">Privacy</a>
        </div>
    </div>
</footer>