<footer class="relative flex flex-col gap-3 page-padding py-10 w-full bg-colorBackground border-t border-t-slate-300/30">
    <div class="flex justify-between items-center flex-wrap gap-4 w-full">
        <a class="w-full sm:w-fit" href="/">
            <img class="h-5 md:h-6 select-none mx-auto" draggable="false" src="/images/logo_grayscale.svg" alt="logo">
        </a>
        <div class="flex justify-center items-center flex-wrap gap-x-2 gap-y-1 w-full sm:w-fit text-[#7f7d83]">
            <span class="text-sm">© 2024 UrlShortener</span>
            <span class="select-none">•</span>
            <a class="text-sm hover:text-colorPrimary" href="/cookies-policy">Cookies Policy</a>
            <span class="select-none">•</span>
            <a class="text-sm hover:text-colorPrimary" href="/privacy-policy">Privacy Policy</a>
            <span class="select-none">•</span>
            <a class="text-sm hover:text-colorPrimary" href="/terms-of-services">Terms of Services</a>
        </div>
    </div>
</footer>