<nav class="fixed top-0 z-10 flex justify-between items-center w-full px-5 md:px-40 py-6 bg-background select-none">
    <a href="/"><img class="h-4 md:h-6" src="/images/logo.svg" alt="logo"/></a>
    <div class="flex items-center gap-9">
        <a class="relative font-medium text-base before:absolute before:bg-primary before:w-0 before:h-0.5 before:rounded-full before:bottom-0 hover:before:w-full hover:text-primary before:transition-all hover:transition-colors cursor-pointer" href="/login">Login</a>
        <a class="flex items-center gap-1 text-[0.9rem] text-white px-4 py-2.5 bg-primary rounded-md hover:shadow-lg hover:shadow-primary/15 transition-shadow cursor-pointer" href="/signup">Get Started<i class="ri-arrow-right-up-line opacity-90"></i></a>
    </div>
</nav>