<%
var navBg = navBg || "bg-colorSurface/85";
%>
<nav class="fixed top-0 z-10 flex justify-between items-center w-full py-6 page-padding <%= navBg %> backdrop-blur-xl select-none">
    <a href="/"><img class="h-4 md:h-6 object-contain" src="/images/logo.svg" alt="logo"/></a>
    <div class="hidden sm:flex items-center gap-9">
        <%- include("./Button.ejs", {
            btnType: "link",
            btnVariant: "tertiary",
            btnClassnames: "font-medium",
            btnChildren: "Login",
            btnHref: "/auth/login"
        }) -%>
        <%- include("./Button.ejs", {
            btnType: "link",
            btnChildren: '<span>Get Started <i class="ri-arrow-right-up-line opacity-90"></i></span>',
            btnHref: "/auth/signup"
        }) -%>
    </div>
    <button class="sm:hidden ri-menu-line text-[1.3rem] cursor-pointer" id="btn-menu"></button>
</nav>
