
<%# Navbar %>
<nav class="gsap-fade-in-down max-w-sc fixed top-0 z-10 w-full bg-colorBackground/80 backdrop-blur-xl select-none">
    <div class="container flex justify-between items-center py-5 page-padding">
        <a href="/"><img class="h-6 md:h-7 object-contain" src="/images/logo.svg" alt="logo"/></a>
        <div class="hidden sm:flex items-center gap-9">
            <%- include("./Button.ejs", {
            btnType: "link",
            btnVariant: "tertiary",
            btnClassnames: "font-medium",
            btnChildren: "Login",
            btnHref: "/auth/login"
            }) -%>
            <%- include("./Button.ejs", {
            btnType: "link",
            btnChildren: '<span>Get Started <i class="ri-arrow-right-up-line opacity-90"></i></span>',
            btnHref: "/auth/signup"
            }) -%>
        </div>
        <button class="sm:hidden ri-menu-line text-[1.3rem] cursor-pointer" id="btn-menu"></button>
    </div>
</nav>

<%- block("scripts").append(`
<script>
    gsap.to("nav", {
        opacity: 1,
        y: 0,
        duration: 0.5,
        ease: "easeInOut"
    });
</script>
`) -%>
