<%
var navBg = navBg || "bg-colorBackground/80";
%>
<nav class="fixed top-0 z-10 flex justify-between items-center w-full py-5 page-padding <%= navBg %> backdrop-blur-xl select-none">
    <a href="/"><img class="h-6 md:h-7 object-contain" src="/images/logo.svg" alt="logo"/></a>

</nav>
