<div id="toast-container" class="hidden absolute z-[70] bottom-5 md:bottom-7 left-0 right-0 px-6 w-full">
    <div id="toast" class="relative mx-auto w-full md:w-fit px-4 md:px-6 py-3.5 text-base rounded-lg bg-surface shadow-xl shadow-textSecondary/5"></div>
</div>

<script>
    class Toast {
        #container;
        #toast;
        #queue = [];
        constructor() {
            this.#container = document.querySelector("#toast-container");
            this.#toast = document.querySelector("#toast");
        }
        showToast(message) {
            this.#queue.push(message);
            if (this.#queue.length === 1) this.#processQueue();
        }

        #processQueue() {
            if (!this.#queue.length) return;
            this.#toast.innerHTML = this.#queue[0];
            this.#container.classList.remove("animate-slide-out-down");
            this.#container.classList.remove("hidden");
            this.#container.classList.add("animate-slide-in-up");
            setTimeout(async () => {
                this.#container.classList.add("animate-slide-out-down");
                this.#queue.shift();
                await new Promise(resolve => setTimeout(() => {
                    this.#container.classList.add("hidden");
                    resolve();
                }, 200));
                this.#processQueue();
            }, 3000);
        }
    }
</script>