<%- layout("layouts/main-layout") -%>

<%# Privacy Policy %>
<section class="flex flex-col items-start py-32 page-padding min-h-screen bg-colorSurface">
    <h1 id="#privacy-policy" class="text-3xl sm:text-4xl font-semibold">Privacy Policy</h1>
    <span class="flex gap-1 mt-2.5 font-medium"><i class="ri-calendar-line"></i>Effective 26th Nov, 2024</span>
<!--    TODO: Add Privacy Policy-->
</section>