<%- layout("layouts/main-layout") -%>

<%# Terms of Services %>
<section class="py-40 page-padding min-h-screen">
    <h2>Terms of Services</h2>
<!--    TODO: Add Terms of Services-->
</section>