@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gelica Black';
    src: url('/fonts/gelica-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    @apply
    m-0 p-0 box-border;
}

html, body {
    @apply
    w-full h-full
    flex flex-col
    bg-background
    text-textPrimary
    font-space-grotesk;
}