<%# TODO: Figure out how to load the JS files dynamically since the page is getting fetched using AJAX %>

<section class="overflow-auto px-6 md:px-9 py-5 sm:py-10 h-full">
    <h1 class="text-xl sm:text-2xl font-medium">Links</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 pt-8 pb-5">

        <div class="flex items-center gap-2.5 px-3.5 py-3 w-full md:max-w-sm border border-slate-300 focus-within:ring-1 focus-within:ring-slate-300 rounded-lg">
            <i class="icon-search-magnifying-glass"></i>
            <input id="input-search-links" class="text-[0.9rem] text-textPrimary bg-transparent w-full outline-none" type="text" placeholder="Search for links">
        </div>
        <div class="flex items-center justify-end gap-2.5 ms-auto w-full">
            <%- include("../../partials/Button.ejs", {
                id: "btn-create-link",
                classNames: "flex-1 md:flex-none flex justify-center items-center gap-1",
                children: "<i class='icon-add-plus text-base'></i>Create link"
            }) %>
            <%- include("../../partials/Button.ejs", {
                id: "btn-sort-links",
                variant: "secondary",
                classNames: "flex-1 md:flex-none flex justify-center items-center gap-1 border-slate-300 text-textSecondary hover:text-textPrimary hover:border-slate-400",
                children: "<i class='icon-filter text-base'></i>"
            }) %>
        </div>

    </div>
    <% if(user?.links?.length > 0) { %>
        <div class="flex flex-col gap-3">
            <% for (let i = 0; i < user.links.length; i++) { %>
                <div class="flex items-center gap-3">

                </div>
            <% } %>
        </div>
    <% } else { %>
        <div class="flex flex-col items-center justify-center gap-1.5 mt-3 px-6 size-full min-h-[65vh] max-h-max border border-slate-200 rounded-2xl">
            <img class="h-44 w-full object-contain select-none" draggable="false" src="/images/links_cards.svg" alt="No results">
            <p class="text-base  text-textPrimary font-semibold">No links found</p>
            <p class="text-sm text-center text-slate-400 max-w-[320px]">There are no links to show at the moment. Just create a new link to get started.</p>
        </div>
    <% } %>
</section>
<script src="/js/components/CreateLinkModal.min.js"></script>
<script src="/js/dashboard/links.min.js"></script>