<section class="overflow-auto px-6 md:px-9 py-5 sm:py-10 h-full">
    <h1 class="text-xl sm:text-2xl font-medium">Links</h1>
    <div class="flex items-center justify-between">
        <div class="">

        </div>
        <div>

        </div>
    </div>
    <% if(user?.links?.length > 0) { %>
        <div class="flex flex-col gap-3">
            <% for (let i = 0; i < user.links.length; i++) { %>
                <div class="flex items-center gap-3">

                </div>
            <% } %>
        </div>
    <% } else { %>
        <div class="flex flex-col items-center justify-center gap-2 mt-3 py-14 size-full">
            <img class="h-44 w-full object-contain select-none" draggable="false" src="/images/links_cards.svg" alt="No results">
            <p class="text-base sm:text-[1.1rem] text-textPrimary font-semibold">No links found</p>
            <p class="text-sm text-center text-slate-400 max-w-[320px]">There are no links to show at the moment. Just create a new link to get started.</p>
            <%- include("../../partials/Button.ejs", {
                btnId: "btnCreateLink",
                btnChildren: "Create link",
                btnClassnames: "mt-3.5 min-w-40"
            }) %>
        </div>
    <% } %>
</section>